body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://img.freepik.com/vector-gratis/tecnologia-red-futurista-azul_53876-100679.jpg?t=st=1717527604~exp=1717531204~hmac=b329e9e6a8c91b17f70d2f302027e7bd77d864ce8c99790256fefdb6f99d9381&w=900");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
}
header {
  background-color: #00008b; /* Azul oscuro */
  color: white;
  text-align: center;
  padding: 1rem 0;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  flex-wrap: wrap;
}
nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  flex: 1 0 100px; /* Flexbox item, at least 100px */
}
nav a:hover {
  background-color: #ddd;
  color: black;
}
.container {
  padding: 2rem;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Fondo blanco con transparencia */
  margin: 2rem auto;
  max-width: 1000px;
  border-radius: 10px;
}
.section-title {
  color: #00008b; /* Azul oscuro */
  border-bottom: 2px solid #00008b;
  display: inline-block;
  margin-bottom: 1rem;
}
.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.about-container .profile-header {
  flex: 1;
  max-width: 30%;
  background-color: #003366;
  color: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}
.about-container .profile-header img {
  border-radius: 50%;
  border: 5px solid #ffa500; /* Naranja */
  width: 150px;
  height: 150px;
}
.about-container .profile-header h1 {
  margin: 0.5rem 0;
  color: #ffa500; /* Naranja */
}
.about-container .profile-header p {
  margin: 0.5rem 0;
}
.about-container .about-content {
  flex: 2;
  max-width: 65%;
}
.about-container .about-content p {
  margin: 1rem 0;
}
.language-section {
  margin-top: 1rem;
}
.language-section .language {
  margin-bottom: 10px;
}
.language-section .language span {
  display: block;
  font-weight: bold;
}
.language-section .progress-bar {
  background-color: #ddd;
  height: 20px;
  border-radius: 5px;
  position: relative;
  margin-top: 5px;
  width: 100%;
}
.language-section .progress {
  height: 100%;
  background-color: #007bff; /* Color de la barra de progreso */
  border-radius: 5px;
}
.language-section .progress-tooltip {
  position: absolute;
  top: 0;
  right: 10px;
  color: black;
  font-weight: bold;
}
.section {
  margin-top: 2rem;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 2rem auto;
}
footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #333;
  color: white;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 2rem;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.contact-info a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.contact-info a:hover {
  text-decoration: underline;
}
.contact-info i {
  margin-right: 0.5rem;
}

/* Estilos para la sección de proyectos */
.section-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  position: relative;
  padding-bottom: 0.5rem;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background: linear-gradient(to right, #00008b, #007bff);
}

/* Contenedor de proyectos */
.proyectos-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.categoria-proyectos h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  border-left: 4px solid #00008b;
  color: #00008b;
}

/* Grid para los proyectos */
.proyectos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

/* Tarjeta de proyecto */
.proyecto-card {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.proyecto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.proyecto-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(to bottom, #00008b, #007bff);
}

.proyecto-titulo {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.proyecto-titulo a {
  color: #00008b;
  text-decoration: none;
  transition: color 0.2s ease;
}

.proyecto-titulo a:hover {
  color: #007bff;
}

.proyecto-descripcion {
  margin-top: 1rem;
  color: #666;
  font-size: 0.9rem;
}

/* Etiquetas de tecnologías */
.tecnologias {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.tech-tag {
  display: inline-flex;
  align-items: center;
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 500;
  color: white;
}

.tech-tag::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Estilos específicos para cada tecnología */
.tech-tag.react {
  background-color: #61dafb;
  color: #333;
}
.tech-tag.react::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23333" d="M12 10.11c1.03 0 1.87.84 1.87 1.89 0 1-.84 1.85-1.87 1.85-1.03 0-1.87-.85-1.87-1.85 0-1.05.84-1.89 1.87-1.89M7.37 20c.63.38 2.01-.2 3.6-1.7-.52-.59-1.03-1.23-1.51-1.9a22.7 22.7 0 01-2.4-.36c-.51 2.14-.32 3.61.31 3.96m.71-5.74l-.29-.51c-.11.29-.22.58-.29.86.27.06.57.11.88.16l-.3-.51m6.54-.76l.81-1.5-.81-1.5c-.3-.53-.62-1-.91-1.47C13.17 9 12.6 9 12 9c-.6 0-1.17 0-1.71.03-.29.47-.61.94-.91 1.47L8.57 12l.81 1.5c.3.53.62 1 .91 1.47.54.03 1.11.03 1.71.03.6 0 1.17 0 1.71-.03.29-.47.61-.94.91-1.47M12 6.78c-.19.22-.39.45-.59.72h1.18c-.2-.27-.4-.5-.59-.72m0 10.44c.19-.22.39-.45.59-.72h-1.18c.2.27.4.5.59.72M16.62 4c-.62-.38-2 .2-3.59 1.7.52.59 1.03 1.23 1.51 1.9.82.08 1.63.2 2.4.36.51-2.14.32-3.61-.32-3.96m-.7 5.74l.29.51c.11-.29.22-.58.29-.86-.27-.06-.57-.11-.88-.16l.3.51m1.45-7.05c1.47.84 1.63 3.05 1.01 5.63 2.54.75 4.37 1.99 4.37 3.68 0 1.69-1.83 2.93-4.37 3.68.62 2.58.46 4.79-1.01 5.63-1.46.84-3.45-.12-5.37-1.95-1.92 1.83-3.91 2.79-5.38 1.95-1.46-.84-1.62-3.05-1-5.63-2.54-.75-4.37-1.99-4.37-3.68 0-1.69 1.83-2.93 4.37-3.68-.62-2.58-.46-4.79 1-5.63 1.47-.84 3.46.12 5.38 1.95 1.92-1.83 3.91-2.79 5.37-1.95M17.08 12c.34.75.64 1.5.89 2.26 2.1-.63 3.28-1.53 3.28-2.26 0-.73-1.18-1.63-3.28-2.26-.25.76-.55 1.51-.89 2.26M6.92 12c-.34-.75-.64-1.5-.89-2.26-2.1.63-3.28 1.53-3.28 2.26 0 .73 1.18 1.63 3.28 2.26.25-.76.55-1.51.89-2.26m9 2.26l-.3.51c.31-.05.61-.1.88-.16-.07-.28-.18-.57-.29-.86l-.29.51m-2.89 4.04c1.59 1.5 2.97 2.08 3.59 1.7.64-.35.83-1.82.32-3.96-.77.16-1.58.28-2.4.36-.48.67-.99 1.31-1.51 1.9M8.08 9.74l.3-.51c-.31.05-.61.1-.88.16.07.28.18.57.29.86l.29-.51m2.89-4.04C9.38 4.2 8 3.62 7.37 4c-.63.35-.82 1.82-.31 3.96a22.7 22.7 0 012.4-.36c.48-.67.99-1.31 1.51-1.9z"/></svg>');
}

.tech-tag.nextjs {
  background-color: #000000;
}
.tech-tag.nextjs::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23ffffff" d="M11.572 0c-.176 0-.31.001-.358.007a19.76 19.76 0 0 1-.364.033C7.443.346 4.25 2.185 2.228 5.012a11.875 11.875 0 0 0-2.119 5.243c-.096.659-.108.854-.108 1.747s.012 1.089.108 1.748c.652 4.506 3.86 8.292 8.209 9.695.779.25 1.6.422 2.534.525.363.04 1.935.04 2.299 0 1.611-.178 2.977-.577 4.323-1.264.207-.106.247-.134.219-.158-.02-.013-.9-1.193-1.955-2.62l-1.919-2.592-2.404-3.558a338.739 338.739 0 0 0-2.422-3.556c-.009-.002-.018 1.579-.023 3.51-.007 3.38-.01 3.515-.052 3.595a.426.426 0 0 1-.206.214c-.075.037-.14.044-.495.044H7.81l-.108-.068a.438.438 0 0 1-.157-.171l-.05-.106.006-4.703.007-4.705.072-.092a.645.645 0 0 1 .174-.143c.096-.047.134-.051.54-.051.478 0 .558.018.682.154.035.038 1.337 1.999 2.895 4.361a10760.433 10760.433 0 0 0 4.735 7.17l1.9 2.879.096-.063a12.317 12.317 0 0 0 2.466-2.163 11.944 11.944 0 0 0 2.824-6.134c.096-.66.108-.854.108-1.748 0-.893-.012-1.088-.108-1.747-.652-4.506-3.859-8.292-8.208-9.695a12.597 12.597 0 0 0-2.499-.523A33.119 33.119 0 0 0 11.573 0zm4.069 7.217c.347 0 .408.005.486.047a.473.473 0 0 1 .237.277c.018.06.023 1.365.018 4.304l-.006 4.218-.744-1.14-.746-1.14v-3.066c0-1.982.01-3.097.023-3.15a.478.478 0 0 1 .233-.296c.096-.05.13-.054.5-.054z"/></svg>');
}

.tech-tag.tailwind {
  background-color: #06b6d4;
}
.tech-tag.tailwind::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23ffffff" d="M12.001,4.8c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 C13.666,10.618,15.027,12,18.001,12c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C16.337,6.182,14.976,4.8,12.001,4.8z M6.001,12c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 c1.177,1.194,2.538,2.576,5.512,2.576c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C10.337,13.382,8.976,12,6.001,12z"/></svg>');
}

.tech-tag.html {
  background-color: #e34c26;
}
.tech-tag.html::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23ffffff" d="M1.5 0h21l-1.91 21.563L11.977 24l-8.564-2.438L1.5 0zm7.031 9.75l-.232-2.718 10.059.003.23-2.622L5.412 4.41l.698 8.01h9.126l-.326 3.426-2.91.804-2.955-.81-.188-2.11H6.248l.33 4.171L12 19.351l5.379-1.443.744-8.157H8.531z"/></svg>');
}

.tech-tag.css {
  background-color: #264de4;
}
.tech-tag.css::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23ffffff" d="M1.5 0h21l-1.91 21.563L11.977 24l-8.565-2.438L1.5 0zm17.09 4.413L5.41 4.41l.213 2.622 10.125.002-.255 2.716h-6.64l.24 2.573h6.182l-.366 3.523-2.91.804-2.956-.81-.188-2.11h-2.61l.29 3.855L12 19.288l5.373-1.53L18.59 4.414v-.001z"/></svg>');
}

.tech-tag.python {
  background-color: #3776ab;
}
.tech-tag.python::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23ffffff" d="M14.25.18l.9.2.73.26.59.3.45.32.34.34.25.34.16.33.1.3.04.26.02.2-.01.13V8.5l-.05.63-.13.55-.21.46-.26.38-.3.31-.33.25-.35.19-.35.14-.33.1-.3.07-.26.04-.21.02H8.77l-.69.05-.59.14-.5.22-.41.27-.33.32-.27.35-.2.36-.15.37-.1.35-.07.32-.04.27-.02.21v3.06H3.17l-.21-.03-.28-.07-.32-.12-.35-.18-.36-.26-.36-.36-.35-.46-.32-.59-.28-.73-.21-.88-.14-1.05-.05-1.23.06-1.22.16-1.04.24-.87.32-.71.36-.57.4-.44.42-.33.42-.24.4-.16.36-.1.32-.05.24-.01h.16l.06.01h8.16v-.83H6.18l-.01-2.75-.02-.37.05-.34.11-.31.17-.28.25-.26.31-.23.38-.2.44-.18.51-.15.58-.12.64-.1.71-.06.77-.04.84-.02 1.27.05zm-6.3 1.98l-.23.33-.08.41.08.41.23.34.33.22.41.09.41-.09.33-.22.23-.34.08-.41-.08-.41-.23-.33-.33-.22-.41-.09-.41.09zm13.09 3.95l.28.06.32.12.35.18.36.27.36.35.35.47.32.59.28.73.21.88.14 1.04.05 1.23-.06 1.23-.16 1.04-.24.86-.32.71-.36.57-.4.45-.42.33-.42.24-.4.16-.36.09-.32.05-.24.02-.16-.01h-8.22v.82h5.84l.01 2.76.02.36-.05.34-.11.31-.17.29-.25.25-.31.24-.38.2-.44.17-.51.15-.58.13-.64.09-.71.07-.77.04-.84.01-1.27-.04-1.07-.14-.9-.2-.73-.25-.59-.3-.45-.33-.34-.34-.25-.34-.16-.33-.1-.3-.04-.25-.02-.2.01-.13v-5.34l.05-.64.13-.54.21-.46.26-.38.3-.32.33-.24.35-.2.35-.14.33-.1.3-.06.26-.04.21-.02.13-.01h5.84l.69-.05.59-.14.5-.21.41-.28.33-.32.27-.35.2-.36.15-.36.1-.35.07-.32.04-.28.02-.21V6.07h2.09l.14.01zm-6.47 14.25l-.23.33-.08.41.08.41.23.33.33.23.41.08.41-.08.33-.23.23-.33.08-.41-.08-.41-.23-.33-.33-.23-.41-.08-.41.08z"/></svg>');
}

.tech-tag.nodejs {
  background-color: #339933;
}
.tech-tag.nodejs::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23ffffff" d="M11.998,24c-0.321,0-0.641-0.084-0.922-0.247l-2.936-1.737c-0.438-0.245-0.224-0.332-0.08-0.383 c0.585-0.203,0.703-0.25,1.328-0.604c0.065-0.037,0.151-0.023,0.218,0.017l2.256,1.339c0.082,0.045,0.197,0.045,0.272,0l8.795-5.076 c0.082-0.047,0.134-0.141,0.134-0.238V6.921c0-0.099-0.053-0.192-0.137-0.242l-8.791-5.072c-0.081-0.047-0.189-0.047-0.271,0 L3.075,6.68C2.99,6.729,2.936,6.825,2.936,6.921v10.15c0,0.097,0.054,0.189,0.139,0.235l2.409,1.392 c1.307,0.654,2.108-0.116,2.108-0.89V7.787c0-0.142,0.114-0.253,0.256-0.253h1.115c0.139,0,0.255,0.112,0.255,0.253v10.021 c0,1.745-0.95,2.745-2.604,2.745c-0.508,0-0.909,0-2.026-0.551L2.28,18.675c-0.57-0.329-0.922-0.945-0.922-1.604V6.921 c0-0.659,0.353-1.275,0.922-1.603l8.795-5.082c0.557-0.315,1.296-0.315,1.848,0l8.794,5.082c0.57,0.329,0.924,0.944,0.924,1.603 v10.15c0,0.659-0.354,1.273-0.924,1.604l-8.794,5.078C12.643,23.916,12.324,24,11.998,24z M19.099,13.993 c0-1.9-1.284-2.406-3.987-2.763c-2.731-0.361-3.009-0.548-3.009-1.187c0-0.528,0.235-1.233,2.258-1.233 c1.807,0,2.473,0.389,2.747,1.607c0.024,0.115,0.129,0.199,0.247,0.199h1.141c0.071,0,0.138-0.031,0.186-0.081 c0.048-0.054,0.074-0.123,0.067-0.196c-0.177-2.098-1.571-3.076-4.388-3.076c-2.508,0-4.004,1.058-4.004,2.833 c0,1.925,1.488,2.457,3.895,2.695c2.88,0.282,3.103,0.703,3.103,1.269c0,0.983-0.789,1.402-2.642,1.402 c-2.327,0-2.839-0.584-3.011-1.742c-0.02-0.124-0.126-0.215-0.253-0.215h-1.137c-0.141,0-0.254,0.112-0.254,0.253 c0,1.482,0.806,3.248,4.655,3.248C17.501,17.007,19.099,15.91,19.099,13.993z"/></svg>');
}

.tech-tag.express {
  background-color: #000000;
}
.tech-tag.express::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23ffffff" d="M24 18.588a1.529 1.529 0 01-1.895-.72l-3.45-4.771-.5-.667-4.003 5.444a1.466 1.466 0 01-1.802.708l5.158-6.92-4.798-6.251a1.595 1.595 0 011.9.666l3.576 4.83 3.596-4.81a1.435 1.435 0 011.788-.668L21.708 7.9l-2.522 3.283a.666.666 0 000 .994l4.804 6.412zM.002 11.576l.42-2.075c1.154-4.103 5.858-5.81 9.094-3.27 1.895 1.489 2.368 3.597 2.275 5.973H1.116C.943 16.447 4.005 19.009 7.92 17.7a4.078 4.078 0 002.582-2.876c.207-.666.548-.78 1.174-.588a5.417 5.417 0 01-2.589 3.957 6.272 6.272 0 01-7.306-.933 6.575 6.575 0 01-1.64-3.858c0-.235-.08-.455-.134-.666A88.33 88.33 0 010 11.577zm1.127-.286h9.654c-.06-3.076-2.001-5.258-4.59-5.278-2.882-.04-4.944 2.094-5.071 5.264z"/></svg>');
}

.tech-tag.sqlserver {
  background-color: #cc2927;
}
.tech-tag.sqlserver::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23ffffff" d="M2.6 2C1.684 2 0.949 2.735 0.949 3.65v1.268h13.418V2H2.6zm2.251 9.133a1.755 1.755 0 0 0-.51.206c-.154.084-.281.193-.419.308a.46.46 0 0 0-.127.173c0 .066.037.124.112.174.074.05.173.084.296.105.123.02.245.031.367.03l.51.01c.235 0 .456.02.662.062.207.041.389.113.546.215.158.103.281.239.372.411.09.173.136.387.136.643 0 .331-.06.6-.179.81-.12.207-.276.37-.47.49-.194.12-.411.204-.65.252a4.032 4.032 0 0 1-.637.075c-.264 0-.522-.023-.774-.07a5.174 5.174 0 0 1-.737-.195 3.322 3.322 0 0 1-.667-.312V13.01c.183.116.376.219.578.308.202.09.407.161.617.215.21.054.418.092.625.114.207.023.402.034.587.034.123 0 .249-.008.377-.024a1.127 1.127 0 0 0 .352-.1.686.686 0 0 0 .26-.206c.07-.088.105-.203.105-.347 0-.264-.136-.444-.408-.54-.271-.097-.66-.144-1.165-.144-.12 0-.248.004-.382.01a5.794 5.794 0 0 0-.418.03.631.631 0 0 1-.352-.08c-.091-.053-.136-.143-.136-.269 0-.161.059-.289.176-.382.118-.094.246-.175.387-.243v-.004a.586.586 0 0 1 .307-.08c.09 0 .173.026.25.079a.358.358 0 0 1 .162.215c.023.094.06.174.113.238.052.066.144.099.276.099.094 0 .172-.036.234-.11a.365.365 0 0 0 .094-.248c0-.132-.043-.248-.13-.347a.944.944 0 0 0-.332-.24 1.633 1.633 0 0 0-.454-.138 2.732 2.732 0 0 0-.505-.045c-.196 0-.392.019-.586.055a1.76 1.76 0 0 0-.52.176zm11.772-3.999H4.307v1.663h12.316zm-4.338 3.236a1.258 1.258 0 0 0-.454.08c-.144.053-.27.138-.382.252a1.263 1.263 0 0 0-.26.412c-.65.161-.98.349-.098.562 0 .207.033.39.098.55.066.162.154.3.265.412.112.114.241.2.388.26.147.062.306.093.475.093.173 0 .335-.031.485-.092a1.06 1.06 0 0 0 .393-.26c.112-.113.199-.25.26-.413.062-.161.094-.343.094-.55 0-.21-.032-.394-.095-.55a1.152 1.152 0 0 0-.26-.407 1.06 1.06 0 0 0-.397-.252 1.27 1.27 0 0 0-.46-.09c-.006-.007-.028 0-.052 0v-.007zm-9.05.014a.764.764 0 0 0-.495.168.543.543 0 0 0-.207.439c0 .14.046.251.138.337.094.085.264.16.51.225l.536.137c.144.035.24.078.29.13.05.051.076.11.076.179a.262.262 0 0 1-.11.211.453.453 0 0 1-.294.09.864.864 0 0 1-.342-.074 1.095 1.095 0 0 1-.321-.206c-.102.07-.186.141-.252.217a.393.393 0 0 0-.1.257c0 .132.069.245.207.337.138.091.318.137.541.137.264 0 .49-.065.678-.196.188-.13.281-.322.281-.577 0-.152-.044-.277-.131-.378-.087-.102-.246-.182-.474-.243l-.53-.149a.572.572 0 0 1-.237-.124.223.223 0 0 1-.067-.16.23.23 0 0 1 .098-.19.402.402 0 0 1 .252-.079c.104 0 .21.024.316.07.106.046.216.112.332.196a1.594 1.594 0 0 0 .23-.193.318.318 0 0 0 .09-.215c0-.112-.07-.212-.21-.3-.142-.087-.316-.13-.522-.13-.012 0-.029-.006-.04-.006l-.054.007zm4.807.014a.87.87 0 0 0-.464.124.406.406 0 0 0-.207.359c0 .103.04.19.12.26.079.07.193.129.342.174l.495.159c.144.047.24.097.29.15.053.053.077.11.077.173a.26.26 0 0 1-.11.196.487.487 0 0 1-.316.075.989.989 0 0 1-.368-.085 1.95 1.95 0 0 1-.378-.215c-.11.065-.188.134-.234.207a.368.368 0 0 0-.7.228c0 .14.067.252.2.336.136.083.322.124.563.124.13 0 .252-.017.367-.055a.977.977 0 0 0 .306-.154.739.739 0 0 0 .211-.245.7.7 0 0 0 .081-.337.597.597 0 0 0-.132-.383c-.088-.11-.241-.191-.46-.244l-.495-.143a.584.584 0 0 1-.234-.12.213.213 0 0 1-.075-.16.224.224 0 0 1 .075-.17.287.287 0 0 1 .196-.07c.115 0 .22.023.316.068a1.6 1.6 0 0 1 .285.17c.087-.05.16-.102.22-.154a.332.332 0 0 0 .1-.226.372.372 0 0 0-.184-.316.75.75 0 0 0-.429-.123c-.015 0-.032-.007-.051-.007h-.03zm7.82.001c-.09 0-.177.022-.257.062-.08.04-.15.11-.211.206l-1.053 1.642V10.4c0-.1-.032-.172-.095-.217a.359.359 0 0 0-.211-.068c-.087 0-.167.023-.239.068a.407.407 0 0 0-.168.217c-.035.097-.061.213-.08.352-.021.138-.032.296-.032.474 0 .168.01.33.027.483.017.153.05.287.09.403.044.115.102.207.176.274a.361.361 0 0 0 .26.1c.09 0 .17-.021.24-.068a.422.422 0 0 0 .165-.188c.043-.081.077-.176.1-.285.022-.11.038-.227.049-.352l.1.005c.111.174.216.32.311.433a.55.55 0 0 0 .422.168.445.445 0 0 0 .293-.098.406.406 0 0 0 .176-.235c.028-.072.046-.148.056-.228.009-.08.013-.151.013-.211 0-.103-.014-.19-.044-.26s-.077-.16-.143-.269L13.44 10.76l.97-1.385c0-.004.01-.011.014-.015a.355.355 0 0 0 .082-.223.336.336 0 0 0-.098-.252.327.327 0 0 0-.244-.1h-.004c-.043 0-.094.008-.124.014zm-2.89.148c-.068 0-.131.018-.189.055a.387.387 0 0 0-.139.143.706.706 0 0 0-.085.206 1.122 1.122 0 0 0-.047.253h-.495a.996.996 0 0 0-.046-.248.63.63 0 0 0-.085-.201.365.365 0 0 0-.138-.138.374.374 0 0 0-.184-.055c-.112 0-.207.038-.28.11-.074.073-.109.167-.109.28v2.085c0 .116.035.212.109.285.073.074.168.11.28.11.11 0 .2-.037.273-.11a.383.383 0 0 0 .11-.285v-1.08h.495v1.08c0 .116.034.212.11.285.073.074.166.11.274.11.115 0 .209-.037.283-.11a.383.383 0 0 0 .11-.285V11.31c0-.112-.037-.206-.11-.28-.074-.071-.168-.11-.283-.11zm-8.487.02a.32.32 0 0 0-.245.11c-.65.074-.098.171-.098.29v.914c0 .09-.026.17-.08.24a.664.664 0 0 1-.196.177.853.853 0 0 1-.26.108.906.906 0 0 1-.276.037c-.196 0-.342-.057-.438-.168-.097-.112-.145-.277-.145-.496V10.5c0-.119-.032-.216-.095-.29a.312.312 0 0 0-.24-.11c-.096 0-.175.037-.24.11-.063.074-.094.171-.094.29v1.025c0 .26.04.484.122.668.08.185.183.336.307.451.123.116.26.2.408.253.148.053.29.08.428.08.21 0 .408-.044.593-.13.186-.087.35-.214.495-.383v.084c0 .112.031.201.094.27.064.067.145.1.245.1a.33.33 0 0 0 .24-.1c.063-.069.095-.158.095-.27v-2.048c0-.119-.032-.216-.095-.29a.324.324 0 0 0-.245-.11c.4.004-.25.007-.008.007v-.004zm8.994.062a.707.707 0 0 1 .28.056.65.65 0 0 1 .38.367.705.705 0 0 1 .55.282.753.753 0 0 1-.5.281.706.706 0 0 1-.5.321 1.203 1.203 0 0 1-.16.161.726.726 0 0 1-.21.11.636.636 0 0 1-.247.043.712.712 0 0 1-.387-.105.657.657 0 0 1-.264-.292.869.869 0 0 1-.051-.265.903.903 0 0 1 .04-.262.714.714 0 0 1 .124-.231.67.67 0 0 1 .212-.168.71.71 0 0 1 .292-.066l.036-.002zm-9.607 3.628V21H19.27v-1.267H5.94v-5.616H4.306z"/></svg>');
}

.tech-tag.jwt {
  background-color: #000000;
}
.tech-tag.jwt::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23d63aff" d="M10.2 0v6.456L12 8.928l1.8-2.472V0zm3.6 6.456v3.072l2.904-.96L20.52 3.36l-2.928-2.136zM20.52 3.36L16.92 8.568l1.92 1.68L24 6.72V4.8zm3.48 3.36v13.68l-6.48-1.992l-2.28-1.68zm-6.48 11.688l-3.6-2.952V24h7.2v-3.6zm-3.6-2.952L9.6 18.744L3.48 20.448L0 24h7.2zM3.48 20.448l3.6-7.944l-1.92-2.64L0 12.6v7.2zM0 12.6V4.8l3.72 2.184l2.28.864zm5.16-5.544L7.2 0h7.2v6.456l-2.76 1.152zm12.6 8.136l-1.44-1.44l1.44-3.12l1.44 3.12z"/><path fill="%23ffffff" d="M13.8 15.456l-1.8-.864l-1.8.864V24h3.6z"/></svg>');
}

.tech-tag.oauth {
  background-color: #4285f4;
}
.tech-tag.oauth::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23ffffff" d="M12 4c-4.418 0-8 3.582-8 8 0 4.418 3.582 8 8 8 4.418 0 8-3.582 8-8 0-4.418-3.582-8-8-8zM11 19.93c-3.94-.5-7-3.857-7-7.93 0-.618.084-1.219.238-1.795l5.095 5.095v1.196c0 .663.537 1.2 1.2 1.2v2.234zM16.76 16.41c-.312-.604-.916-1.01-1.622-1.01H14.6v-1.8c0-.398-.322-.72-.72-.72H9.72v-1.2h1.68c.398 0 .72-.322.72-.72V9.96h1.2c.663 0 1.2-.537 1.2-1.2V8.2c1.23.457 2.271 1.34 2.95 2.492C18.43 12.166 18.11 14.576 16.76 16.41z"/></svg>');
}

.tech-tag.django {
  background-color: #092e20;
}
.tech-tag.django::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23ffffff" d="M11.146 0h3.924v18.166c-2.013.382-3.491.535-5.096.535-4.791 0-7.288-2.166-7.288-6.32 0-4.002 2.65-6.6 6.753-6.6.637 0 1.121.05 1.707.203zm0 9.143a3.894 3.894 0 00-1.325-.204c-1.988 0-3.134 1.223-3.134 3.365 0 2.09 1.096 3.236 3.109 3.236.433 0 .79-.025 1.35-.102V9.142zM21.314 6.06v9.098c0 3.134-.229 4.638-.917 5.937-.637 1.249-1.478 2.039-3.211 2.905l-3.644-1.733c1.733-.815 2.574-1.53 3.109-2.625.561-1.121.739-2.421.739-5.835V6.059h3.924zM17.39.021h3.924v4.026H17.39z"/></svg>');
}

.tech-tag.postgresql {
  background-color: #336791;
}
.tech-tag.postgresql::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23ffffff" d="M17.128 0a10.134 10.134 0 0 0-2.755.403l-.063.02A10.922 10.922 0 0 0 12.6.258C11.422.238 10.41.524 9.594 1 8.79.721 7.122.24 5.364.336 4.14.403 2.804.775 1.814 1.82.827 2.865.305 4.482.415 6.682c.03.607.203 1.597.49 2.879s.69 2.783 1.193 4.152c.503 1.37 1.054 2.6 1.915 3.436.43.419 1.022.771 1.72.742.49-.02.933-.235 1.315-.552.186.245.385.352.566.451.228.125.45.21.68.266.413.103 1.12.241 1.948.1.282-.047.579-.139.875-.27.011.33.024.653.037.98.041 1.036.067 1.993.378 2.832.05.137.187.843.727 1.466.54.624 1.598 1.013 2.803.755.85-.182 1.931-.51 2.649-1.532.71-1.01 1.03-2.459 1.093-4.809.016-.127.035-.235.055-.336l.169.015h.02c.907.041 1.891-.088 2.713-.47.728-.337 1.279-.678 1.68-1.283.1-.15.21-.331.24-.643s-.149-.8-.446-1.025c-.595-.452-.969-.28-1.37-.197a6.27 6.27 0 0 1-1.202.146c1.156-1.947 1.985-4.015 2.458-5.845.28-1.08.437-2.076.45-2.947.013-.871-.058-1.642-.58-2.309C21.36.6 19.067.024 17.293.004c-.055-.001-.11-.002-.165-.001zm-.047.64c1.678-.016 3.822.455 5.361 2.422.346.442.449 1.088.437 1.884-.013.795-.16 1.747-.429 2.79-.522 2.02-1.508 4.375-2.897 6.488a.756.756 0 0 0 .158.086c.29.12.951.223 2.27-.048.332-.07.575-.117.827.075a.52.52 0 0 1 .183.425.704.704 0 0 1-.13.336c-.255.383-.758.746-1.403 1.045-.571.266-1.39.405-2.116.413-.364.004-.7-.024-.985-.113l-.018-.007c-.11 1.06-.363 3.153-.528 4.108-.132.77-.363 1.382-.804 1.84-.44.458-1.063.734-1.901.914-1.038.223-1.795-.017-2.283-.428-.487-.41-.71-.954-.844-1.287-.092-.23-.14-.528-.186-.926-.046-.398-.08-.885-.103-1.434a51.426 51.426 0 0 1-.03-2.523 3.061 3.061 0 0 1-1.552.76c-.689.117-1.304.002-1.671-.09a2.276 2.276 0 0 1-.52-.201c-.17-.091-.332-.194-.44-.397a.56.56 0 0 1-.057-.381.61.61 0 0 1 .218-.331c.198-.161.46-.251.855-.333.719-.148.97-.249 1.123-.37.13-.104.277-.314.537-.622a1.16 1.16 0 0 1-.003-.041 2.96 2.96 0 0 1-1.33-.358c-.15.158-.916.968-1.85 2.092-.393.47-.827.74-1.285.759-.458.02-.872-.211-1.224-.552-.703-.683-1.264-1.858-1.753-3.186-.488-1.328-.885-2.807-1.167-4.067-.283-1.26-.45-2.276-.474-2.766-.105-2.082.382-3.485 1.217-4.37.836-.885 1.982-1.22 3.099-1.284 2.005-.115 3.909.584 4.294.734.742-.504 1.698-.818 2.892-.798a7.39 7.39 0 0 1 1.681.218l.02-.009a6.854 6.854 0 0 1 .739-.214A9.626 9.626 0 0 1 17.08.642zm.92 13.9a.891.891 0 0 1 .918.896c.01.505-.38.91-.918.919a.878.878 0 0 1-.918-.896.884.884 0 0 1 .918-.92zm-12.863-.896a.878.878 0 0 1 .177.147c.528.475.565 1.696.56 1.777-.4.726.05 1.149.304 1.337.259.19.815.286 1.574.145.193-.037.438-.118.679-.236.349-.169.629-.258.91-.623l.344-.456.311-.44c.238-.332.487-.7.822-1.18.333-.48.638-.896.927-1.291.445-.619.558-.859.447-1.019-.11-.16-.327-.155-.44-.155h-.001a2.939 2.939 0 0 0-.584.068 8.56 8.56 0 0 0-.688.16c-.407.121-.817.284-1.18.472-.362.187-.676.388-.92.58-.229.18-.487.387-.67.65a1.304 1.304 0 0 0-.241.442z"/></svg>');
}

#google_translate_element {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

/* Ocultar completamente los elementos originales de Google Translate */
.goog-te-gadget {
  font-size: 0 !important; /* Oculta todo el texto */
}

.goog-te-gadget img {
  display: none !important; /* Oculta la imagen de Google */
}

.goog-te-gadget-simple {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  font-size: 0 !important;
  cursor: pointer;
}

.goog-te-gadget-simple span {
  display: none !important;
}

.goog-te-gadget-simple img {
  display: none !important;
}

/* Nuestro ícono personalizado */
.goog-te-gadget-simple:before {
  content: "\f1ab";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 24px;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.goog-te-gadget-simple:hover:before {
  color: #ffa500;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* Ocultar la barra de Google Translate */
.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0 !important;
}

header {
  position: relative;
}
